<app-top-header [title]="title" [showBackButton]="true"></app-top-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{service.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{service.description}}
        </ion-card-content>
    </ion-card>
    <ion-item-group>
        <ion-item-divider color="primary">
            <ion-label>Choisir la date et l'heure</ion-label>
        </ion-item-divider>
        <ion-item lines="full">
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="{{minimumDate | amDateFormat:'YYYY-MM-DD'}}"
                          max="2050-12-31" (ionChange)="onDateChange($event)" [(ngModel)]="chosenDate"></ion-datetime>
        </ion-item>
        <ion-item lines="none">
            <ion-range dualKnobs="true" [min]="getEarliestHour()" max="{{getLatestHour()}}"
                       step="1" snaps="true" ticks="true" color="primary" [(ngModel)]="hourRange"
                       (ionChange)="onHourRangeChange($event)" pin="true" debounce="300" name="hourRange">
                <ion-label slot="start">De {{hourRange.lower}}h</ion-label>
                <ion-label slot="end">A {{hourRange.upper}}h</ion-label>
            </ion-range>
        </ion-item>
        <ion-item-divider color="primary" margin-top>

                <ion-chip color="warning">
                    <ion-icon name="person"></ion-icon>
                    <ion-label>{{availableProfessionals.length}} Professionels disponibles</ion-label>
                </ion-chip>
        </ion-item-divider>
        <ion-item-sliding *ngFor="let professional of availableProfessionals" #itemSliding>
            <ion-item-options side="start">
                <ion-item-option color="success" (click)="confirmOrder(professional)">Commander</ion-item-option>
            </ion-item-options>
            <ion-item detail="true">
                <ion-avatar slot="start">
                    <ion-img src="{{professional.picture}}" class="rounded-full"></ion-img>
                </ion-avatar>
                <ion-label>{{professional.last_name}}, {{professional.first_name}}</ion-label>
                <ion-badge color="dark">Prix: {{professional.price}}€/h</ion-badge>
            </ion-item>
        </ion-item-sliding>
    </ion-item-group>
</ion-content>
