ion-range {
  --knob-size: 30px;
  --bar-background: var(--ion-color-medium);
  --bar-background-active: var(--ion-color-primary);
}

ion-datetime {
  --placeholder-color: var(--ion-color-warning);
  --background: var(--ion-color-warning);
  --border-color: var(--ion-color-warning);
}
